<div class="page-header">
	<h1 ng-if="interestedUser.type == 'create'">Create Interested User</h1>
	<h1 ng-if="interestedUser.type == 'edit'">Edit Interested User</h1>
</div>

<div class="jumbotron">
	<form class="form-horizontal" ng-submit="interestedUser.saveInterestedUser()">
		<div class="form-group">
			<label class="col-sm-2 control-label">Name</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" ng-model="interestedUser.interestedUserData.name">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Email</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" ng-model="interestedUser.interestedUserData.email">
			</div>
		</div>

		<div class="form-group">
		<div class="col-sm-offset-2 col-sm-6">
			<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="interestedUser.type == 'create'">Create Interested User</button>
			<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="interestedUser.type == 'edit'">Update Interested User</button>
		</div>
		</div>
	</form>

	<div class="row show-hide-message" ng-show="interestedUser.message">
		<div class="col-sm-6 col-sm-offset-2">
			<div class="alert alert-info">
				{{ interestedUser.message }}
			</div>
		</div>
	</div>
</div>
