<div class="page-header">
  <h1>
		Chimes
		<a href="/chimes/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span>
			New Chime
		</a>
	</h1>

</div>

<div class="jumbotron text-center" ng-show="chime.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Chimes...</p>
</div>

<div class="jumbotron text-center" ng-show="chime.chimes">
  <table class="table table-bordered table-striped">
  	<thead>
  		<tr>
        <th class="col-xs-2">Title</th>
        <th class="col-xs-2">User</th>
        <th class="col-xs-2">Image</th>
        <th class="col-xs-5">Waveform</th>
  			<th class="col-sm-1"></th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr ng-repeat="chimeObj in chime.chimes">
  			<td>{{ chimeObj.title }}</td>
  			<td>{{ chimeObj.artist }}</td>
  			<td><img src="{{ chimeObj.artwork }}"></td>
        <td><img class="waveform" src="{{ chimeObj.waveform }}"></td>
  			<td>
  				<a ng-href="/chimes/{{ chimeObj._id }}" class="btn btn-primary">Edit</a>
  				<a href="#" ng-click="chime.deleteChime(chimeObj._id)" class="btn btn-danger">Delete</a>
  			</td>
  		</tr>
  	</tbody>
  </table>
</div>
