<!-- <div class="page-header">
	<h1 ng-if="chime.type == 'create'">Create Chime</h1>
	<h1 ng-if="chime.type == 'edit'">Edit Chime</h1>
</div> -->

<div class="panel panel-default">
  <div class="panel-heading">
		<div ng-hide="chime.selectedTrack">
			<div class="col-xs-3">
				<div class="btn-group" uib-dropdown is-open="status.isopen">
		      <button type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
		        <h4><i class="fa fa-lg" ng-class="chime.currentMusicProvider.icon"></i> {{chime.currentMusicProvider.name}} <span class="caret"></h4></span>
		      </button>
		      <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
						<li ng-click="chime.setMusicProvider(provider)" ng-repeat="provider in chime.musicProviders | filter: filterByName(chime.currentMusicProvider.name)" role="menuitem">
							<a href="#">{{provider.name}}</a>
						</li>
		      </ul>
		    </div>
			</div>
			<div class="col-xs-6 text-center">
				<h1>Select Song</h1>
			</div>
		</div>

		<div ng-show="chime.selectedTrack">
			<div class="col-xs-3">
				<button ng-click="chime.clearSelectedTrack()" type="button" class="btn btn-default">
					<h5><i class="fa fa-lg fa-arrow-left"></i> Back</h5>
				</button>
			</div>
			<div class="col-xs-6 text-center">
				<h1>Create Chime</h1>
			</div>
      <div class="col-xs-3">
				<button ng-if="chime.splicer.endTimeLocked" ng-click="chime.saveChime()" type="button" class="btn btn-primary pull-right">
					<h5><i class="fa fa-lg fa-floppy-o"></i> Save</h5>
				</button>
			</div>
		</div>
  </div>

	<div class="panel-body">
		<div ng-hide="chime.selectedTrack">
			<sound-cloud-song-search ng-if="chime.currentMusicProvider.value == 'soundCloud'" chime="chime"></sound-cloud-song-search>
			<spotify-song-search ng-if="chime.currentMusicProvider.value == 'spotify'" chime="chime"></spotify-song-search>
		</div>
		<div ng-show="chime.selectedTrack">
			<div class="row">
				<div class="col-xs-4">
					<div class="img-responsive center-block">
						<img width="250px" class="margin-left-20" src="{{chime.selectedTrack.artwork_url || chime.selectedTrack.user.avatar_url}}">
					</div>
				</div>
				<div class="col-xs-8">
					<form class="form-horizontal">
						<label class="col-xs-2 control-label">Title: </label>
						<label class="col-xs-10 control-description">
							<p ng-bind="chime.selectedTrack.title"></p>
						</label>
						<label class="col-xs-2 control-label">Author: </label>
						<label class="col-xs-10 control-description">
							<p ng-bind="chime.selectedTrack.user.username"></p>
						</label>
						<label class="col-xs-2 control-label">Description: </label>
						<label class="col-xs-10 control-description">
							<p class="truncate-with-ellipsis" ng-bind="chime.selectedTrack.description"></p>
						</label>
						<label class="col-xs-2 control-label">Genre: </label>
						<label class="col-xs-10 control-description">
							<p ng-bind="chime.selectedTrack.genre"></p>
						</label>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">Tags: </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="chime.selectedTrack.tags" placeholder="Tags">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div ng-if="chime.splicer.startTimeLocked" class="selectable-waveform-overlay" ng-style="{'left': chime.splicer.leftOffset + 15, 'width': chime.splicer.chimeWidth}"></div>
					<img class="selectable-waveform" src="{{chime.selectedTrack.waveform_url}}">
					<div id="slider-container">
						<input ng-disabled="chime.splicer.startTimeLocked" class="start-slider" ng-model="chime.splicer.startTime" type="range" min="0" max="{{chime.selectedTrack.duration}}">
						<input ng-disabled="chime.splicer.endTimeLocked" class="end-slider" ng-style="{'left': chime.splicer.leftOffset, 'width': chime.splicer.widthOffset}" ng-if="chime.splicer.startTimeLocked" ng-model="chime.splicer.endTime" type="range" min="{{chime.splicer.startTime}}" max="{{chime.selectedTrack.duration}}">
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<p class="col-xs-4">Start Time: {{chime.splicer.startTime + ' ms'}}</p>
						<span class="col-xs-4 center-block">
			      	<button ng-if="chime.splicer.endTimeLocked" ng-click="chime.playTrackSection()" type="button" class="btn btn-primary btn-sm center-block">
								<i class="fa fa-md fa-play"></i> Play Selection
							</button>
							<button type="button" ng-if="!chime.splicer.endTimeLocked && chime.splicer.startTime" ng-click="chime.playTrackSection()" class="btn btn-primary btn-xs center-block">
								<i class="fa fa-md fa-play"></i> Play from Start Time
							</button>
					  </span>
						<span class="col-xs-4">
			      	<button type="button" ng-hide="chime.splicer.startTimeLocked" ng-click="chime.lockStartTime()" class="btn btn-default btn-xs pull-right">Lock Start Time</button>
							<button type="button" ng-show="chime.splicer.startTimeLocked" ng-click="chime.clearStartTime()" class="btn btn-warning btn-xs pull-right">Clear Start Time</button>
					  </span>
					</div>

					<div ng-if="chime.splicer.startTimeLocked" class="row">
						<p class="col-xs-4">End Time: {{chime.splicer.endTime + ' ms'}}</p>
						<span class="col-xs-4 center-block">
							<button type="button" ng-click="chime.setEndTime()" ng-if="!chime.splicer.endTimeLocked && chime.showEndTimeSetter" class="btn btn-primary btn-xs center-block">
								<i class="fa fa-md fa-stop"></i> Set End Time
							</button>
					  </span>
						<span class="col-xs-4">
							<button type="button" ng-hide="chime.splicer.endTimeLocked" ng-click="chime.lockEndTime()" class="btn btn-default btn-xs pull-right">Lock End Time</button>
							<button type="button" ng-show="chime.splicer.endTimeLocked" ng-click="chime.clearEndTime()" class="btn btn-warning btn-xs pull-right">Clear End Time</button>					  </span>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="panel-footer">
	  <div id="soundcloud_widget" ng-bind-html="chime.soundCloudWidget"></div >
	</div>
</div>

<!-- <div class="row show-hide-message" ng-show="chime.message">
  <div class="col-sm-6 col-sm-offset-2">
    <div class="alert alert-info">
      {{ chime.message }}
    </div>
  </div>
</div> -->
