<form ng-submit="chime.saveChime()">
  <div class="panel panel-default">
    <div class="panel-heading">
  		<div ng-hide="chime.selectedTrack">
  			<div class="col-xs-3">
  				<div class="btn-group" uib-dropdown is-open="status.isopen">
  		      <button type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
  		        <h4><i class="fa fa-lg" ng-class="chime.currentMusicProvider.icon"></i> {{chime.currentMusicProvider.name}} <span class="caret"></h4></span>
  		      </button>
  		      <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
  						<li ng-click="chime.setMusicProvider(provider)" ng-repeat="provider in chime.musicProviders | filter: filterByName(chime.currentMusicProvider.name)" role="menuitem">
  							<a href="#">{{provider.name}}</a>
  						</li>
  		      </ul>
  		    </div>
  			</div>
  			<div class="col-xs-6 text-center">
  				<h1>Select Song</h1>
  			</div>
  		</div>

  		<div ng-show="chime.selectedTrack">
  			<div class="col-xs-3">
  				<button ng-click="chime.clearSelectedTrack()" type="button" class="btn btn-default">
  					<h5><i class="fa fa-lg fa-arrow-left"></i> Back</h5>
  				</button>
  			</div>
  			<div class="col-xs-6 text-center">
  				<h1>{{chime.type | titleize}} Chime</h1>
  			</div>
        <div ng-if="chime.splicer.endTimeLocked" class="col-xs-3">
  				<button type="submit" class="btn btn-primary pull-right">
  					<h5 ng-if="!chime.processing">
              <i class="fa fa-lg fa-floppy-o"></i> Save
            </h5>
            <h5 ng-if="chime.processing">
              <span class="glyphicon glyphicon-repeat spinner"></span> Saving
            </h5>
  				</button>
  			</div>
  		</div>
    </div>

  	<div class="panel-body">
      <div ng-hide="chime.selectedTrack">
        <sound-cloud-song-search ng-if="chime.currentMusicProvider.value == 'soundCloud'" chime="chime"></sound-cloud-song-search>
        <spotify-song-search ng-if="chime.currentMusicProvider.value == 'spotify'" chime="chime"></spotify-song-search>
      </div>
      <div ng-show="chime.selectedTrack">
		    <chime-splicer chime="chime"></chime-splicer>
      </div>
  	</div>

  	<div class="panel-footer">
  	  <div id="soundcloud_widget" ng-bind-html="chime.soundCloudWidget"></div >
  	</div>
  </div>
</form>
