@primary: #00ECF2;

main 					{
	padding-top:20px;
}

html{
	background: url(../images/wallpaper2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
	background-color: transparent !important;
	opacity: 0.75;
	height: 100%;
	font-family: Verdana, Geneva, sans-serif !important;
}

.bigChimeLogo{
	margin: 20px 0px 40px;
}

.padding-20 {
	padding: 20px;
}

/* HEADER
===================== */
header .navbar 		{
	border-radius:0;
}

/* FOOTER
===================== */
footer {
  width: 100%;
}
footer p {
	text-align: center;
}

.waveform {
	background-color: @primary;
	width: 400px;
}

.panel-footer {
	min-height: 50px !important;
}

/* NGANIMATE
====================== */

/* show and hide */
.show-hide-message.ng-hide-remove {
	-webkit-animation:zoomIn 0.3s both ease;
	-moz-animation:zoomIn 0.3s both ease;
	animation:zoomIn 0.3s both ease;
}

/* ANIMATIONS
====================== */
.spinner {
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
	animation:spin 1s infinite;
}

@keyframes spin {
	from 	{ transform:rotate(0deg); }
	to 	{ transform:rotate(360deg); }
}

@-webkit-keyframes spin {
	from 	{ -webkit-transform:rotate(0deg); }
	to 	{ -webkit-transform:rotate(360deg); }
}

@-moz-keyframes spin {
	from 	{ -moz-transform:rotate(0deg); }
	to 	{ -moz-transform:rotate(360deg); }
}
