@primary: #00ECF2;
@secondary: #9a9a9a;

html{
	background: url(../images/wallpaper-gradient.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
	background-color: transparent !important;
	opacity: 0.75;
	height: 100%;
	font-family: Verdana, Geneva, sans-serif !important;
}

h1{
	color: @primary;
}

h2{
	color: #fff;
}

h3{
	color: @primary;
}

h4{
	color: @secondary;
}

p{
	color: @secondary;
}

.btn-primary{
	color: #fff;
	background-color: @primary;
}

.big-chime-logo{
	margin: 40px 0px;
}

.login-panel{
	margin: 40px 0px;
}

.padding-20 {
	padding: 20px;
}

.margin-left-20 {
	margin-left: 20px;
}

.panel-heading {
	height: 80px;
}

.panel-body {
	height: 480px;
}

.results-table{
	height: 360px;
	overflow: auto;
}

.control-description {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}

.truncate-with-ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3; /* number of lines to show */
   line-height: 25px;        /* fallback */
   max-height: 75px;       /* fallback */
}

#slider-container{
	width: 100%;
	position: relative;
}

.start-slider {
	position: absolute;
  z-index: 1;
	bottom: 62px;
}

.start-lock-indicator {
	position:absolute;
	bottom: 70px;
	left: -10px;
}

.end-lock-indicator {
	position:absolute;
	bottom: 46px;
	left: -10px;
	z-index: 2;
}

.end-slider {
  position: absolute;
  z-index: 2;
  bottom: 62px;
}

/* HEADER
===================== */
header .navbar 		{
	border-radius:0;
}

/* FOOTER
===================== */
footer {
  width: 100%;
}
footer p {
	text-align: center;
	color: #fff;
}

.waveform {
	background-color: @secondary;
	width: 100%;
	height: 80px;
	margin-top: 10px;
}

.waveform-overlay {
	position: absolute;;
	border: 1px solid @primary;
	background-color: rgba(0, 236, 242, 0.5);
	height: 80px;
	margin-top: 10px;
}

#waveform-container-cell {
	position: relative;
}

.selectable-waveform {
	background-color: @secondary;
	width: 100%;
	height: 140px;
	margin-top: 10px;
}

.selectable-waveform-overlay {
	position: absolute;
	border: 1px solid @primary;
	background-color: rgba(0, 236, 242, 0.5);
	height: 140px;
	margin-top: 10px;
}

.panel-footer {
	height: 90px;
}

.page-header {
	margin: -20px 0 20px;
}

/* NGANIMATE
====================== */

/* show and hide */
.show-hide-message.ng-hide-remove {
	-webkit-animation:zoomIn 0.3s both ease;
	-moz-animation:zoomIn 0.3s both ease;
	animation:zoomIn 0.3s both ease;
}

/* ANIMATIONS
====================== */
.spinner {
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
	animation:spin 1s infinite;
}

@keyframes spin {
	from 	{ transform:rotate(0deg); }
	to 	{ transform:rotate(360deg); }
}

@-webkit-keyframes spin {
	from 	{ -webkit-transform:rotate(0deg); }
	to 	{ -webkit-transform:rotate(360deg); }
}

@-moz-keyframes spin {
	from 	{ -moz-transform:rotate(0deg); }
	to 	{ -moz-transform:rotate(360deg); }
}
